body{
	background-color: #ccc;
}

.container{
	display: inline-block;
	font-family: 'Poppins',sans-serif;
}
.left{
	float: left;
}
.right{
	float: right;
}
.right h3{
	font-size: 20px;
}
.right input{
	height: 30px;
	width: 200px;
	border-radius: 3px;
	text-align: center;
	background-color: white;
}
select option{
	width: 50px;
}
input[type=checkbox]{
	width: auto;
	height: auto;
}