.searchbar{
	border: 2px black dashed;
	border-radius: 5px;
	height: 40px;
	width: 500px;
}

.searchButton{
	height: 40px;

}

body {
  background-color: #ccc;
  font-family: 'Roboto', Helvetica Neue, sans-serif;
}

h2, p, div {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
}

div.more {
  display: none;
  margin: 10px 0 0 0;
  padding: 10px;
  background-color: #eee;
  position: relative;
  
  &.visible {
    display: block;
  }
  
  li {
    list-style: none;
    line-height: 1.4em;
    font-size: 90%;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgb(192, 199, 212);
    cursor: pointer;
  }
}

.search-result {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  position: relative;
  
  &.new-job {
    border-left: 5px solid rgb(253, 137, 37);
 
    .badge {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 5px 10px;
      border-radius: 15px;
      border: 2px solid rgb(253, 137, 37);
      background-color: rgba(253, 137, 37, 0.2);
      color: rgb(253, 137, 37);
    }    
  }
  

  a {
    text-decoration: none;
    color: rgb(36, 138, 250)  
  }

  span {
    margin-right: 10px;
  }

  div > div p {
    color: rgb(192, 199, 212);
    margin-top: 10px;
  }
  
  .company, .stars, .reviews {
    font-size: 110%; 
    margin-right: 0 !important;
    margin-top: 5px !important;
  }
  

}
