<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <style type="text/css">
      .right{
        text-align : right;
      }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block head_block%}
    {% endblock %}
</head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="/home">FixMeet</a></li>
          <li><a class="navbar-link" href="/home">Set Free Hours</a></li> 
          <li><a = class="navbar-link" href="/home/my-appointment/">My appointments</a></li>
          <li><a = class="navbar-link" href="/home/search/">Search</a></li>
        </ul>
        {% if user %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
            <li><a href="/">Hey {{user}}</a></li>
          </ul>
        {% endif %}

      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>