{% extends 'main/base.html' %}
{% load static %}


{% block head_block %}
 
  <link rel="stylesheet" type="text/css" href="{% static 'main/myappointment.css' %}">
{% endblock head_block %}
{% block body_block%}

{% if no_appointment %}
<p><strong>
	<center>
		{{no_appointment}}
	</center>
    </strong>
</p>
{% else %}

<p><strong>you've taken appointment with :</strong></p>
<br>

<div class="container">

{% for appointments in appointment %}
  
       <p class="reviews">{{appointments.details.user.name}} on {{ appointments.details.start_time}}</p>

       <form method="post" action="/google/add-appointment/">
        {% csrf_token %}
        <input type="hidden" id="appid" name="appid" value="{{ appointments.id }}">
        
         <input type="submit">
        
       </form>

{% endfor %}
</div>
{% endif %}
<br><br><hr><br><br>
<div>   

 {% if no_meeting %}
<p><strong>
  <center>
    {{no_meeting}}
  </center>
    </strong>
</p>
{% else %}

<p><strong>you've Meetings with :</strong></p>
<br>

<div class="container">

{% for meetings in meeting %}
  
    <p>
       <span class="reviews">{{meetings.details.client}} on {{ meetings.details.details.start_time}}</span>
    </p>

{% endfor %}
</div>
{% endif %}
{% endblock body_block%}