{% include 'registration/base.html' %}
{% load static %}
{% block head_block%}
  <title>Welcome to FixMeet</title>
  <link href="{%static 'index.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
{% endblock %}

{% block body_block%}

<div class="bg-col-btn" >
  <div class="body-container">
    <h2 style="font-weight:600;">Fix-Meet</h2>
    <p><strong>Forget about appointments and meetings ?<br> Don't worry we are here for you ! Just add your plan.</strong></p>
    <a href= "{% url 'registration:login' %}" class="btn btn-transparent midbtn">Login</a>
    <a href= "{% url 'registration:register' %}" class="btn btn-transparent midbtn">Create Account</a>
  </div>
</div>
<br><br><br>
<div class="bg-col-btn" >
  <div class="body-container text--center ">
    <h3>Reasons to use FixMeet:</h3>
    <div class="col-5 text--left">
      <ul>
        <li>Its the best</li>
        <li>Its not time consuming</li>
        <li>It's Easy</li>
        <li>Its free!</li>
      </ul>
    </div>
  </div>
  <br><br><br>
{% endblock %}

{% block footer_block %}
  <footer>

  <div class="footer-container">
    <ul>
      <li><a href="{% url 'admin:login' %} ">Admin Login</a></li>
      <li><a href="mailto:fixmeet.plantomorrow@gmail.com">Contact</a></li>
      <li><a href="/">Mainpage</a></li>
    </ul>
    <p>Made By <strong>Raghav Mandowara</strong></p>
  </div>
</footer>


{% endblock %}

